* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
body {
  background-color: #e2f3f5;
}
body.purple {
  background-color: #574b90;
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 26px;
  border: none;
  outline: none;
  background-color: #581b98;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scroll-behavior: smooth;
}
/* smoothe tansition */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}
/* navivation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #581b98;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: #e2f3f5;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #e2f3f5;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links a:hover {
  color: #faee1c;
}
.nav-links button {
  background-color: #581b98;
  color: #e2f3f5;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
.nav-links button:hover {
  color: #faee1c;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 5px;
  background-color: #e2f3f5;
  margin: 3px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #581b98;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* introooooooooooooooooooooooooooooooooooooooooooooooo*/
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.container span {
  text-transform: uppercase;
  display: block;
}
.intro img {
  padding: 10px;
  border: 1px;
  border-radius: 10%;
}
.text1 {
  color: white;
  font-size: 8vh;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 10px;
  background: black;
  position: relative;
  animation: text 3s 1;
  z-index: -1;
}
.text2 {
  font-size: 80px;
  color: #9c1de7;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
/* why///////////////// */
#why {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#why span {
  font-size: 24px;
  margin-left: 30px;
}
#why h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 7vh;
}
/* crousel////// */
#slider {
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;

  float: left;
}

#slider span {
  background-color: #e2f3f5;
  font-size: 8vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  bottom: 45%;
  left: 25%;
  opacity: 50%;
  font-family: "Poppins", sans-serif;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/* sourcessssssssssssssssssssssssss */
.sources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sources-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 5vh;
}
.back-img {
  max-width: 100%;
  height: auto;
}
.background-img {
  position: relative;
  background: #212121;
}
.text-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 18%;
  right: 10%;
  max-width: 34%;
}
.img-text {
  font-family: "Poppins", sans-serif;
  color: #581b98;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 6vw;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 15%;
  background-color: white;
  opacity: 0.7;
  right: 4%;
}
.btn {
  font-size: 5vw;
  opacity: 0.7;
  width: 100%;
  background-color: var(--background-color);
  color: #222;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  bottom: 10vh;
  right: 10vh;
  cursor: pointer;
  --background-color: #e3e3e3;
  --border-size: 4px;
  display: block;
  margin: 0 auto;
}
.btn.btn-pop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}
.btn.btn-pop:hover::before,
.btn.btn-pop:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}

/* Foooter */
footer {
  background: #212121;
  padding: 50px 20px;
}
footer .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .ftr h3 {
  font-size: 1.4em;
  margin-bottom: 1.2em;
  color: #fff;
}
footer .content {
  list-style: none;
}
footer .content a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  line-height: 30px;
  transition: 0.3s ease opacity;
}
footer .content a:hover {
  opacity: 1;
}
footer .ftr {
  flex-basis: 18%;
}
form {
  display: flex;
  align-items: center;
  width: 100%;
}
input {
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
  background: #f5f5f5;
}

.btnu input:hover {
  background: #000;
}
@media only screen and (max-width: 540px) {
  footer .ftr {
    flex-basis: 80%;
    margin: 0 auto;
  }
  form {
    flex-direction: column;
  }
  form input {
    width: 90%;
    margin: 5px auto;
  }
}
